/* Write your CSS here */
.lost {
  color: #e31a1a;
}
.won {
  color: #18ed66;
}
li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:60vh;
  margin-bottom:20px;
}
.imae1{
  width:60%;
  height:35%
}