/* Write your CSS here */
.teamCard {
  border: 1px solid #ffffff;
  background-color: #ffffff33;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  width: 40vw;
  margin: 10px;
  height: 45vh;
}
li{
  list-style-type:none;
}
.teamHead {
  color: #ffffff;
  font-weight: 600;
  font-family: 'Bree Serif';
  font-size: 28px;
}
.teamImage {
  height: 60%;
  margin-left: 20px;
  margin-right: 20px;
}
