/* Write your CSS here */
.teamMatchesCont {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d, #1e293b);
  min-height: 100vh;
  font-family: 'Bree Serif';
  color: #ffffff;
}
.latestMatch {
  background-color: #1e293b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.teamBanner {
  width: 100%;
  margin-bottom: 10px;
}
.MatchList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
li {
  width: 30vw;
  background-color: #000000;
}
